In [19]:
from alpha_vantage.timeseries import TimeSeries
api_key = 'WPZ50HWPV4VBK625'
import pandas as pd
import datetime as dt
import yfinance as yf
import requests
from bs4 import BeautifulSoup
import numpy as np
from stocktrends import Renko
import copy
import talib

# using yahoo finance

In [3]:
start = dt.datetime.today()-dt.timedelta(360)
end = dt.datetime.today()
quote = pd.DataFrame()
ohlcv = {}
symbol = []
sno = int(input("Number of stocks you eant to enter : "))
for _ in range(0,sno):
    symbol.append((input("Enter Ticker Symbol Here - Yahoo Finance : ")).upper())
    
def ticker1(symbol):
    for x in symbol:
        ohlcv[x] = yf.download(x,start,end)
    return ohlcv
        
table1 = ticker1(symbol)
table1

Number of stocks you eant to enter : 1
Enter Ticker Symbol Here - Yahoo Finance : itc.bo
[*********************100%***********************]  1 of 1 completed

{'ITC.BO':                   Open        High         Low       Close   Adj Close  \
 Date
 2021-01-04  213.949997  216.000000  212.000000  213.399994  202.815735
 2021-01-05  212.000000  213.250000  210.600006  211.500000  201.009979
 2021-01-06  211.000000  211.600006  204.350006  205.449997  195.260040
 2021-01-07  205.800003  207.550003  202.149994  202.750000  192.693970
 2021-01-08  204.000000  206.000000  200.300003  201.550003  191.553482
 ...                ...         ...         ...         ...         ...
 2021-12-22  214.300003  214.300003  211.300003  212.050003  212.050003
 2021-12-23  213.600006  218.350006  212.899994  217.300003  217.300003
 2021-12-24  217.699997  220.449997  216.500000  218.000000  218.000000
 2021-12-27  218.000000  218.250000  215.699997  217.550003  217.550003
 2021-12-28  218.000000  220.550003  217.899994  219.949997  219.949997

              Volume
 Date
 2021-01-04  2181422
 2021-01-05  1395577
 2021-01-06  3587679
 2021-01-07  2855957
 2021-01-08  1732160
 ...             ...
 2021-12-22  1182123
 2021-12-23  1486474
 2021-12-24  1140304
 2021-12-27   786650
 2021-12-28   786206

 [244 rows x 6 columns]}

# using alpha vantage

In [4]:
ts = TimeSeries(key=api_key,output_format='pandas', indexing_type='date')
data = ts.get_daily(symbol='BSE:ITC',outputsize='full')[0] #0 is for the selecting dataframe form the tuple returned by fctn
data.columns = ["open","high","low","close","volume"]
data

                 open       high        low      close     volume
date
2021-12-28   218.0000   220.5500   217.9000   219.9500   786206.0
2021-12-27   218.0000   218.2500   215.7000   217.5500   786650.0
2021-12-24   217.7000   220.4500   216.5000   218.0000  1140304.0
2021-12-23   213.6000   218.3500   212.9000   217.3000  1486474.0
2021-12-22   214.3000   214.3000   211.3000   212.0500  1182123.0
...               ...        ...        ...        ...        ...
2005-01-07  1280.5506  1302.0006  1272.0006  1298.3007  1896408.0
2005-01-06  1300.0005  1300.1007  1265.0007  1276.6005  2514399.0
2005-01-05  1323.0006  1323.0006  1281.1005  1294.0005  3260821.0
2005-01-04  1311.0006  1323.4506  1302.0006  1314.4005  1311132.0
2005-01-03  1324.5006  1330.0005  1305.0507  1313.0505   874133.0

[4185 rows x 5 columns]

In [5]:
import time
ohlcv = {}
stocks = ["MSFT","AAPL","AMZN","GOOG","FB","CSCO"]
ts = TimeSeries(key=api_key,output_format='pandas', indexing_type='date')
ticker_count = 0
start_time = time.time()
for x in stocks:
    ohlcv[x] = ts.get_daily(symbol=x,outputsize='full')[0]
    ticker_count+=1
    if ticker_count==5:
        time.sleep(60- ((time.time()-start_time)%60.0))
        ticker_count=0

In [6]:
ohlcv

{'MSFT':             1. open  2. high  3. low  4. close   5. volume
 date
 2021-12-27   335.46  342.480  335.43    342.45  19947029.0
 2021-12-23   332.75  336.390  332.73    334.69  19617848.0
 2021-12-22   328.30  333.605  325.75    333.20  24831493.0
 2021-12-21   323.29  327.730  319.80    327.29  24740597.0
 2021-12-20   320.05  322.800  317.57    319.91  28326532.0
 ...             ...      ...     ...       ...         ...
 1999-11-05    91.81   92.870   90.50     91.56  35083700.0
 1999-11-04    92.31   92.750   90.31     91.75  27119700.0
 1999-11-03    92.94   93.500   91.50     92.00  22258500.0
 1999-11-02    92.75   94.500   91.94     92.56  23174500.0
 1999-11-01    93.25   94.190   92.12     92.37  26630600.0

 [5575 rows x 5 columns],
 'AAPL':             1. open   2. high  3. low  4. close    5. volume
 date
 2021-12-27  177.085  180.4200  177.07    180.33   74919582.0
 2021-12-23  175.850  176.8499  175.27    176.28   68356567.0
 2021-12-22  173.040  175.8600  172.15    175.64   92135303.0
 2021-12-21  171.555  173.2000  169.12    172.99   91185905.0
 2021-12-20  168.280  170.5800  167.46    169.75  107499114.0
 ...             ...       ...     ...       ...          ...
 1999-11-05   84.620   88.3700   84.00     88.31    3721500.0
 1999-11-04   82.060   85.3700   80.62     83.62    3384700.0
 1999-11-03   81.620   83.2500   81.00     81.50    2932700.0
 1999-11-02   78.000   81.6900   77.31     80.25    3564600.0
 1999-11-01   80.000   80.6900   77.37     77.62    2487300.0

 [5575 rows x 5 columns],
 'AMZN':              1. open    2. high   3. low  4. close   5. volume
 date
 2021-12-27  3420.740  3458.8600  3384.31   3393.39   2942341.0
 2021-12-23  3408.560  3439.5000  3403.00   3421.37   1839412.0
 2021-12-22  3385.395  3441.0000  3370.01   3420.74   2751773.0
 2021-12-21  3357.010  3414.3299  3312.95   3408.34   2797791.0
 2021-12-20  3337.000  3357.4851  3312.00   3341.58   2868633.0
 ...              ...        ...      ...       ...         ...
 1999-11-05    64.750    65.5000    62.25     64.94  11091400.0
 1999-11-04    67.190    67.1900    61.00     63.06  16759200.0
 1999-11-03    68.190    68.5000    65.00     65.81  10772100.0
 1999-11-02    69.750    70.0000    65.06     66.44  13243200.0
 1999-11-01    68.060    71.8800    66.31     69.13  12824100.0

 [5575 rows x 5 columns],
 'GOOG':               1. open    2. high     3. low  4. close  5. volume
 date
 2021-12-27  2949.2700  2968.5300  2945.0000   2961.28   662966.0
 2021-12-23  2941.7900  2971.4519  2939.0168   2942.85   690934.0
 2021-12-22  2882.0000  2946.0600  2879.2600   2938.98   922024.0
 2021-12-21  2863.0000  2893.8413  2834.7000   2884.41   977597.0
 2021-12-20  2813.5919  2852.2100  2805.0000   2848.03  1013176.0
 ...               ...        ...        ...       ...        ...
 2014-04-02   565.1060   604.8300   562.1900    567.00   146700.0
 2014-04-01   558.7100   568.4500   558.7100    567.16     7900.0
 2014-03-31   566.8900   567.0000   556.9300    556.97    10800.0
 2014-03-28   561.2000   566.4300   558.6700    559.99    41100.0
 2014-03-27   568.0000   568.0000   552.9200    558.46    13100.0

 [1953 rows x 5 columns],
 'FB':              1. open  2. high  3. low  4. close    5. volume
 date
 2021-12-27  338.8450   347.87  338.01  346.1800   17795026.0
 2021-12-23  330.1000   336.67  328.36  335.2400   13987698.0
 2021-12-22  333.8003   334.51  328.26  330.4500   16764566.0
 2021-12-21  326.4100   336.00  323.75  334.2000   16116784.0
 2021-12-20  329.7750   329.90  322.53  325.4500   17901783.0
 ...              ...      ...     ...       ...          ...
 2012-05-24   32.9500    33.21   31.77   33.0300   50237200.0
 2012-05-23   31.3700    32.50   31.36   32.0000   73600000.0
 2012-05-22   32.6100    33.59   30.94   31.0000  101786600.0
 2012-05-21   36.5300    36.66   33.00   34.0300  168192700.0
 2012-05-18   42.0500    45.00   38.00   38.2318  573576400.0

 [2418 rows x 5 columns],
 'CSCO':             1. open  2. high  3. low  4. close   5. volume
 date
 2021-12-27    62.41  63.4700  62.280     63.42  14780510.0
 2021-12-23    61.79  62.8950  61.790     62.28  17771398.0
 2021-12-22    60.97  61.5950  60.615     61.53  17095453.0
 2021-12-21    60.44  61.2377  60.000     61.03  20761103.0
 2021-12-20    59.67  60.4100  59.300     60.36  21342148.0
 ...             ...      ...     ...       ...         ...
 1999-11-05    71.69  73.5000  71.500     73.44  21946500.0
 1999-11-04    72.88  73.6300  69.880     70.00  31889000.0
 1999-11-03    74.00  74.3100  71.060     71.50  23859900.0
 1999-11-02    73.50  74.5000  72.690     73.50  16635100.0
 1999-11-01    73.00  74.0000  72.380     72.88  15705700.0

 [5575 rows x 5 columns]}

# using web scraping

In [7]:
tickers = ["AAPL","MSFT"] #list of tickers whose financial data needs to be extracted
financial_dir = {}

In [8]:
for ticker in tickers:
    #getting balance sheet data from yahoo finance for the given ticker
    temp_dir = {}
    url = 'https://finance.yahoo.com/quote/'+ticker+'/balance-sheet?p='+ticker
    headers={'User-Agent': "Mozilla/5.0"}
    page = requests.get(url, headers=headers)
    page_content = page.content
    soup = BeautifulSoup(page_content,'html.parser')
    tabl = soup.find_all("div", {"class" : "M(0) Whs(n) BdEnd Bdc($seperatorColor) D(itb)"})
    for t in tabl:
        rows = t.find_all("div", {"class" : "D(tbr) fi-row Bgc($hoverBgColor):h"})
        for row in rows:
            temp_dir[row.get_text(separator='|').split("|")[0]]=row.get_text(separator='|').split("|")[1]
    
    #getting income statement data from yahoo finance for the given ticker
    url = 'https://finance.yahoo.com/quote/'+ticker+'/financials?p='+ticker
    headers={'User-Agent': "Mozilla/5.0"}
    page = requests.get(url, headers=headers)
    page_content = page.content
    soup = BeautifulSoup(page_content,'html.parser')
    tabl = soup.find_all("div", {"class" : "M(0) Whs(n) BdEnd Bdc($seperatorColor) D(itb)"})
    for t in tabl:
        rows = t.find_all("div", {"class" : "D(tbr) fi-row Bgc($hoverBgColor):h"})
        for row in rows:
            temp_dir[row.get_text(separator='|').split("|")[0]]=row.get_text(separator='|').split("|")[1]
    
    #getting cashflow statement data from yahoo finance for the given ticker
    url = 'https://finance.yahoo.com/quote/'+ticker+'/cash-flow?p='+ticker
    headers={'User-Agent': "Mozilla/5.0"}
    page = requests.get(url, headers=headers)
    page_content = page.content
    soup = BeautifulSoup(page_content,'html.parser')
    tabl = soup.find_all("div", {"class" : "M(0) Whs(n) BdEnd Bdc($seperatorColor) D(itb)"})
    for t in tabl:
        rows = t.find_all("div", {"class" : "D(tbr) fi-row Bgc($hoverBgColor):h"})
        for row in rows:
            temp_dir[row.get_text(separator='|').split("|")[0]]=row.get_text(separator='|').split("|")[1]
    
    #getting key statistics data from yahoo finance for the given ticker
    url = 'https://finance.yahoo.com/quote/'+ticker+'/key-statistics?p='+ticker
    headers={'User-Agent': "Mozilla/5.0"}
    page = requests.get(url, headers=headers)
    page_content = page.content
    soup = BeautifulSoup(page_content,'html.parser')
    tabl = soup.findAll("table", {"class": "W(100%) Bdcl(c) "})
    for t in tabl:
        rows = t.find_all("tr")
        for row in rows:
            if len(row.get_text(separator='|').split("|")[0:2])>0:
                temp_dir[row.get_text(separator='|').split("|")[0]]=row.get_text(separator='|').split("|")[-1]    
    
    #combining all extracted information with the corresponding ticker
    financial_dir[ticker] = temp_dir

combined_financials = pd.DataFrame(financial_dir)
tickers = combined_financials.columns
for ticker in tickers:
    combined_financials = combined_financials[~combined_financials[ticker].str.contains("[a-z]").fillna(False)]

combined_financials

                                                AAPL         MSFT
Total Assets                             351,002,000  333,779,000
Total Liabilities Net Minority Interest  287,912,000  191,791,000
Total Equity Gross Minority Interest      63,090,000  141,988,000
Total Capitalization                     172,196,000  192,062,000
Common Stock Equity                       63,090,000  141,988,000
...                                              ...          ...
Book Value Per Share                            3.84        20.24
Levered Free Cash Flow                         73.3B       49.82B
Capital Lease Obligations                        NaN    9,629,000
Total Unusual Items Excluding Goodwill           NaN    1,335,000
Total Unusual Items                              NaN    1,335,000

[108 rows x 2 columns]

# MACD implementation

In [11]:
tickers = ["MSFT","AAPL","GOOG"]
ohlcv_data = {}

for ticker in tickers:
    temp = yf.download(ticker,period='1mo',interval='15m')
    temp.dropna(how="any",inplace=True)
    ohlcv_data[ticker] = temp

def MACD(DF, a=12 ,b=26, c=9):
    """function to calculate MACD
       typical values a(fast moving average) = 12; 
                      b(slow moving average) =26; 
                      c(signal line ma window) =9"""
    df = DF.copy()
    df["ma_fast"] = df["Adj Close"].ewm(span=a, min_periods=a).mean()
    df["ma_slow"] = df["Adj Close"].ewm(span=b, min_periods=b).mean()
    df["macd"] = df["ma_fast"] - df["ma_slow"]
    df["signal"] = df["macd"].ewm(span=c, min_periods=c).mean()
    return df.loc[:,["macd","signal"]]

for ticker in ohlcv_data:
    ohlcv_data[ticker][["MACD","SIGNAL"]] = MACD(ohlcv_data[ticker], a=12 ,b=26, c=9)
    
ohlcv_data

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

# ATR implementation

In [ ]:
def ATR(DF, n=14):
    "function to calculate True Range and Average True Range"
    df = DF.copy()
    df["H-L"] = df["High"] - df["Low"]
    df["H-PC"] = abs(df["High"] - df["Adj Close"].shift(1))
    df["L-PC"] = abs(df["Low"] - df["Adj Close"].shift(1))
    df["TR"] = df[["H-L","H-PC","L-PC"]].max(axis=1, skipna=False)
    df["ATR"] = df["TR"].ewm(com=n, min_periods=n).mean()
    return df["ATR"]

for ticker in ohlcv_data:
    ohlcv_data[ticker]["ATR"] = ATR(ohlcv_data[ticker])

ohlcv_data

# Bollingers band

In [13]:
for ticker in tickers:
    temp = yf.download(ticker,period='1mo',interval='5m')
    temp.dropna(how="any",inplace=True)
    ohlcv_data[ticker] = temp

def Boll_Band(DF, n=14):
    "function to calculate Bollinger Band"
    df = DF.copy()
    df["MB"] = df["Adj Close"].rolling(n).mean()
    df["UB"] = df["MB"] + 2*df["Adj Close"].rolling(n).std(ddof=0)
    df["LB"] = df["MB"] - 2*df["Adj Close"].rolling(n).std(ddof=0)
    df["BB_Width"] = df["UB"] - df["LB"]
    return df[["MB","UB","LB","BB_Width"]]

for ticker in ohlcv_data:
    ohlcv_data[ticker][["MB","UB","LB","BB_Width"]] = Boll_Band(ohlcv_data[ticker])

ohlcv_data

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

{'MSFT':                                  Open        High         Low       Close  \
 Datetime
 2021-11-29 09:30:00-05:00  334.940002  337.419312  334.739990  335.679993
 2021-11-29 09:35:00-05:00  334.750000  336.369995  334.750000  336.179993
 2021-11-29 09:40:00-05:00  336.000000  336.598999  335.529999  336.519989
 2021-11-29 09:45:00-05:00  336.000000  337.049988  334.929993  336.430115
 2021-11-29 09:50:00-05:00  336.750000  337.559998  336.750000  337.054993
 ...                               ...         ...         ...         ...
 2021-12-28 11:10:00-05:00  342.299988  342.390015  342.079987  342.083496
 2021-12-28 11:15:00-05:00  342.089996  342.190002  341.920013  341.989990
 2021-12-28 11:20:00-05:00  341.983704  342.160004  341.420013  341.576599
 2021-12-28 11:25:00-05:00  341.559998  341.762604  341.339996  341.750000
 2021-12-28 11:28:59-05:00  341.750000  341.750000  341.750000  341.750000

                             Adj Close   Volume          MB          UB  \
 Datetime
 2021-11-29 09:30:00-05:00  335.679993  2206014         NaN         NaN
 2021-11-29 09:35:00-05:00  336.179993   615407         NaN         NaN
 2021-11-29 09:40:00-05:00  336.519989   446902         NaN         NaN
 2021-11-29 09:45:00-05:00  336.430115   624896         NaN         NaN
 2021-11-29 09:50:00-05:00  337.054993   505400         NaN         NaN
 ...                               ...      ...         ...         ...
 2021-12-28 11:10:00-05:00  342.083496    99324  342.057842  343.120748
 2021-12-28 11:15:00-05:00  341.989990   121087  342.089270  343.115645
 2021-12-28 11:20:00-05:00  341.576599   155387  342.113314  343.072558
 2021-12-28 11:25:00-05:00  341.750000    95181  342.171886  342.909495
 2021-12-28 11:28:59-05:00  341.750000        0  342.174386  342.905997

                                    LB  BB_Width
 Datetime
 2021-11-29 09:30:00-05:00         NaN       NaN
 2021-11-29 09:35:00-05:00         NaN       NaN
 2021-11-29 09:40:00-05:00         NaN       NaN
 2021-11-29 09:45:00-05:00         NaN       NaN
 2021-11-29 09:50:00-05:00         NaN       NaN
 ...                               ...       ...
 2021-12-28 11:10:00-05:00  340.994935  2.125813
 2021-12-28 11:15:00-05:00  341.062896  2.052749
 2021-12-28 11:20:00-05:00  341.154070  1.918487
 2021-12-28 11:25:00-05:00  341.434276  1.475219
 2021-12-28 11:28:59-05:00  341.442776  1.463221

 [1585 rows x 10 columns],
 'AAPL':                                  Open        High         Low       Close  \
 Datetime
 2021-11-29 09:30:00-05:00  159.369995  160.089996  159.080002  159.580002
 2021-11-29 09:35:00-05:00  159.500000  160.190002  159.330002  160.117996
 2021-11-29 09:40:00-05:00  160.000000  160.190002  159.770004  160.169998
 2021-11-29 09:45:00-05:00  160.250000  160.380005  159.460007  160.229996
 2021-11-29 09:50:00-05:00  160.250000  160.345001  159.869995  159.889999
 ...                               ...         ...         ...         ...
 2021-12-28 11:10:00-05:00  180.845001  181.000000  180.559998  180.630005
 2021-12-28 11:15:00-05:00  180.649994  180.686996  180.229996  180.299805
 2021-12-28 11:20:00-05:00  180.292801  180.505005  180.029999  180.158401
 2021-12-28 11:25:00-05:00  180.139999  180.150101  179.850006  180.039993
 2021-12-28 11:29:02-05:00  180.119797  180.119797  180.119797  180.119797

                             Adj Close   Volume          MB          UB  \
 Datetime
 2021-11-29 09:30:00-05:00  159.580002  6244089         NaN         NaN
 2021-11-29 09:35:00-05:00  160.117996  2459125         NaN         NaN
 2021-11-29 09:40:00-05:00  160.169998  1968297         NaN         NaN
 2021-11-29 09:45:00-05:00  160.229996  2576117         NaN         NaN
 2021-11-29 09:50:00-05:00  159.889999  1650167         NaN         NaN
 ...                               ...      ...         ...         ...
 2021-12-28 11:10:00-05:00  180.630005  1133659  179.630185  180.981643
 2021-12-28 11:15:00-05:00  180.299805  1195629  179.714457  181.075256
 2021-12-28 11:20:00-05:00  180.158401  1094840  179.805779  181.100278
 2021-12-28 11:25:00-05:00  180.039993   698474  179.912206  181.005610
 2021-12-28 11:29:02-05:00  180.119797        0  179.992906  180.961827

                                    LB  BB_Width
 Datetime
 2021-11-29 09:30:00-05:00         NaN       NaN
 2021-11-29 09:35:00-05:00         NaN       NaN
 2021-11-29 09:40:00-05:00         NaN       NaN
 2021-11-29 09:45:00-05:00         NaN       NaN
 2021-11-29 09:50:00-05:00         NaN       NaN
 ...                               ...       ...
 2021-12-28 11:10:00-05:00  178.278727  2.702916
 2021-12-28 11:15:00-05:00  178.353658  2.721598
 2021-12-28 11:20:00-05:00  178.511279  2.588999
 2021-12-28 11:25:00-05:00  178.818803  2.186807
 2021-12-28 11:29:02-05:00  179.023985  1.937842

 [1585 rows x 10 columns],
 'GOOG':                                   Open         High          Low        Close  \
 Datetime
 2021-11-29 09:30:00-05:00  2885.969971  2913.280029  2885.969971  2895.459961
 2021-11-29 09:35:00-05:00  2893.750000  2915.000000  2893.750000  2912.040039
 2021-11-29 09:40:00-05:00  2913.500000  2916.159912  2905.379883  2907.364502
 2021-11-29 09:45:00-05:00  2903.510010  2909.659912  2899.040039  2905.810059
 2021-11-29 09:50:00-05:00  2904.500000  2912.000000  2904.500000  2909.000000
 ...                                ...          ...          ...          ...
 2021-12-28 11:10:00-05:00  2943.129883  2943.760010  2940.129883  2940.644287
 2021-12-28 11:15:00-05:00  2939.510010  2939.639893  2936.187500  2938.465088
 2021-12-28 11:20:00-05:00  2940.790039  2941.347900  2937.159912  2937.939941
 2021-12-28 11:25:00-05:00  2937.995117  2938.381592  2935.120117  2937.254883
 2021-12-28 11:28:37-05:00  2937.979980  2937.979980  2937.979980  2937.979980

                              Adj Close  Volume           MB           UB  \
 Datetime
 2021-11-29 09:30:00-05:00  2895.459961   90453          NaN          NaN
 2021-11-29 09:35:00-05:00  2912.040039   34569          NaN          NaN
 2021-11-29 09:40:00-05:00  2907.364502   27007          NaN          NaN
 2021-11-29 09:45:00-05:00  2905.810059   23796          NaN          NaN
 2021-11-29 09:50:00-05:00  2909.000000   19927          NaN          NaN
 ...                                ...     ...          ...          ...
 2021-12-28 11:10:00-05:00  2940.644287    5138  2943.105155  2946.099496
 2021-12-28 11:15:00-05:00  2938.465088   14142  2942.631226  2946.248137
 2021-12-28 11:20:00-05:00  2937.939941   25998  2942.225150  2946.517973
 2021-12-28 11:25:00-05:00  2937.254883    7310  2941.917637  2946.915822
 2021-12-28 11:28:37-05:00  2937.979980       0  2941.446917  2946.596234

                                     LB   BB_Width
 Datetime
 2021-11-29 09:30:00-05:00          NaN        NaN
 2021-11-29 09:35:00-05:00          NaN        NaN
 2021-11-29 09:40:00-05:00          NaN        NaN
 2021-11-29 09:45:00-05:00          NaN        NaN
 2021-11-29 09:50:00-05:00          NaN        NaN
 ...                                ...        ...
 2021-12-28 11:10:00-05:00  2940.110814   5.988682
 2021-12-28 11:15:00-05:00  2939.014314   7.233823
 2021-12-28 11:20:00-05:00  2937.932327   8.585647
 2021-12-28 11:25:00-05:00  2936.919453   9.996369
 2021-12-28 11:28:37-05:00  2936.297600  10.298635

 [1585 rows x 10 columns]}

# RSI implementation

In [16]:
for ticker in tickers:
    temp = yf.download(ticker,period='1mo',interval='5m')
    temp.dropna(how="any",inplace=True)
    ohlcv_data[ticker] = temp
    
def RSI(DF, n=14):
    "function to calculate RSI"
    df = DF.copy()
    df["change"] = df["Adj Close"] - df["Adj Close"].shift(1)
    df["gain"] = np.where(df["change"]>=0, df["change"], 0)
    df["loss"] = np.where(df["change"]<0, -1*df["change"], 0)
    df["avgGain"] = df["gain"].ewm(alpha=1/n, min_periods=n).mean()
    df["avgLoss"] = df["loss"].ewm(alpha=1/n, min_periods=n).mean()
    df["rs"] = df["avgGain"]/df["avgLoss"]
    df["rsi"] = 100 - (100/ (1 + df["rs"]))
    return df["rsi"]


for ticker in ohlcv_data:
    ohlcv_data[ticker]["RSI"] = RSI(ohlcv_data[ticker])
    
ohlcv_data

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

{'MSFT':                                  Open        High         Low       Close  \
 Datetime
 2021-11-29 09:30:00-05:00  334.940002  337.419312  334.739990  335.679993
 2021-11-29 09:35:00-05:00  334.750000  336.369995  334.750000  336.179993
 2021-11-29 09:40:00-05:00  336.000000  336.598999  335.529999  336.519989
 2021-11-29 09:45:00-05:00  336.000000  337.049988  334.929993  336.430115
 2021-11-29 09:50:00-05:00  336.750000  337.559998  336.750000  337.054993
 ...                               ...         ...         ...         ...
 2021-12-28 11:15:00-05:00  342.089996  342.190002  341.920013  341.989990
 2021-12-28 11:20:00-05:00  341.983704  342.160004  341.420013  341.576599
 2021-12-28 11:25:00-05:00  341.559998  341.899994  341.339996  341.790009
 2021-12-28 11:30:00-05:00  341.809998  341.929993  341.309998  341.459991
 2021-12-28 11:35:40-05:00  341.339996  341.339996  341.339996  341.339996

                             Adj Close   Volume        RSI
 Datetime
 2021-11-29 09:30:00-05:00  335.679993  2206014        NaN
 2021-11-29 09:35:00-05:00  336.179993   615407        NaN
 2021-11-29 09:40:00-05:00  336.519989   446902        NaN
 2021-11-29 09:45:00-05:00  336.430115   624896        NaN
 2021-11-29 09:50:00-05:00  337.054993   505400        NaN
 ...                               ...      ...        ...
 2021-12-28 11:15:00-05:00  341.989990   121087  49.857321
 2021-12-28 11:20:00-05:00  341.576599   133579  45.964648
 2021-12-28 11:25:00-05:00  341.790009   122181  48.212566
 2021-12-28 11:30:00-05:00  341.459991   136742  45.088799
 2021-12-28 11:35:40-05:00  341.339996        0  43.973175

 [1586 rows x 7 columns],
 'AAPL':                                  Open        High         Low       Close  \
 Datetime
 2021-11-29 09:30:00-05:00  159.369995  160.089996  159.080002  159.580002
 2021-11-29 09:35:00-05:00  159.500000  160.190002  159.330002  160.117996
 2021-11-29 09:40:00-05:00  160.000000  160.190002  159.770004  160.169998
 2021-11-29 09:45:00-05:00  160.250000  160.380005  159.460007  160.229996
 2021-11-29 09:50:00-05:00  160.250000  160.345001  159.869995  159.889999
 ...                               ...         ...         ...         ...
 2021-12-28 11:15:00-05:00  180.649994  180.690002  180.229996  180.299805
 2021-12-28 11:20:00-05:00  180.292801  180.505005  180.029999  180.158401
 2021-12-28 11:25:00-05:00  180.139999  180.177505  179.850006  179.979996
 2021-12-28 11:30:00-05:00  179.985001  180.119995  179.860001  180.020004
 2021-12-28 11:35:41-05:00  179.970001  179.970001  179.970001  179.970001

                             Adj Close   Volume        RSI
 Datetime
 2021-11-29 09:30:00-05:00  159.580002  6244089        NaN
 2021-11-29 09:35:00-05:00  160.117996  2459125        NaN
 2021-11-29 09:40:00-05:00  160.169998  1968297        NaN
 2021-11-29 09:45:00-05:00  160.229996  2576117        NaN
 2021-11-29 09:50:00-05:00  159.889999  1650167        NaN
 ...                               ...      ...        ...
 2021-12-28 11:15:00-05:00  180.299805  1197455  57.254535
 2021-12-28 11:20:00-05:00  180.158401   841573  54.808359
 2021-12-28 11:25:00-05:00  179.979996   920573  51.801230
 2021-12-28 11:30:00-05:00  180.020004   876148  52.431538
 2021-12-28 11:35:41-05:00  179.970001        0  51.524636

 [1586 rows x 7 columns],
 'GOOG':                                   Open         High          Low        Close  \
 Datetime
 2021-11-29 09:30:00-05:00  2885.969971  2913.280029  2885.969971  2895.459961
 2021-11-29 09:35:00-05:00  2893.750000  2915.000000  2893.750000  2912.040039
 2021-11-29 09:40:00-05:00  2913.500000  2916.159912  2905.379883  2907.364502
 2021-11-29 09:45:00-05:00  2903.510010  2909.659912  2899.040039  2905.810059
 2021-11-29 09:50:00-05:00  2904.500000  2912.000000  2904.500000  2909.000000
 ...                                ...          ...          ...          ...
 2021-12-28 11:15:00-05:00  2939.510010  2939.639893  2936.187500  2938.712646
 2021-12-28 11:20:00-05:00  2940.790039  2941.347900  2937.159912  2937.939941
 2021-12-28 11:25:00-05:00  2937.995117  2940.774902  2935.120117  2940.774902
 2021-12-28 11:30:00-05:00  2937.689941  2937.689941  2935.239990  2935.239990
 2021-12-28 11:35:38-05:00  2934.959961  2934.959961  2934.959961  2934.959961

                              Adj Close  Volume        RSI
 Datetime
 2021-11-29 09:30:00-05:00  2895.459961   90453        NaN
 2021-11-29 09:35:00-05:00  2912.040039   34569        NaN
 2021-11-29 09:40:00-05:00  2907.364502   27007        NaN
 2021-11-29 09:45:00-05:00  2905.810059   23796        NaN
 2021-11-29 09:50:00-05:00  2909.000000   19927        NaN
 ...                                ...     ...        ...
 2021-12-28 11:15:00-05:00  2938.712646   13688  34.974558
 2021-12-28 11:20:00-05:00  2937.939941   24273  33.875272
 2021-12-28 11:25:00-05:00  2940.774902   11563  41.179962
 2021-12-28 11:30:00-05:00  2935.239990    8868  33.418070
 2021-12-28 11:35:38-05:00  2934.959961       0  33.078364

 [1586 rows x 7 columns]}

# renko implementation

In [18]:
tickers = ["AMZN","GOOG","MSFT"]
ohlcv_data = {}
hour_data = {}
renko_data = {}

# looping over tickers and storing OHLCV dataframe in dictionary
for ticker in tickers:
    temp = yf.download(ticker,period='1mo',interval='5m')
    temp.dropna(how="any",inplace=True)
    ohlcv_data[ticker] = temp
    temp = yf.download(ticker,period='1y',interval='1h')
    temp.dropna(how="any",inplace=True)
    hour_data[ticker] = temp
    
def ATR(DF, n=14):
    "function to calculate True Range and Average True Range"
    df = DF.copy()
    df["H-L"] = df["High"] - df["Low"]
    df["H-PC"] = abs(df["High"] - df["Adj Close"].shift(1))
    df["L-PC"] = abs(df["Low"] - df["Adj Close"].shift(1))
    df["TR"] = df[["H-L","H-PC","L-PC"]].max(axis=1, skipna=False)
    df["ATR"] = df["TR"].ewm(com=n, min_periods=n).mean()
    return df["ATR"]

def renko_DF(DF, hourly_df):
    "function to convert ohlc data into renko bricks"
    df = DF.copy()
    df.reset_index(inplace=True)
    df.drop("Close",axis=1,inplace=True)
    df.columns = ["date","open","high","low","close","volume"]
    df2 = Renko(df)
    df2.brick_size = 3*round(ATR(hourly_df,120).iloc[-1],0)
    renko_df = df2.get_ohlc_data() #if using older version of the library please use get_bricks() instead
    return renko_df

for ticker in ohlcv_data:
    renko_data[ticker] = renko_DF(ohlcv_data[ticker],hour_data[ticker])
    
renko_data

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

{'AMZN':                        date    open    high     low   close  uptrend
 0 2021-11-29 09:30:00-05:00  3393.0  3480.0  3393.0  3480.0     True
 1 2021-11-29 10:05:00-05:00  3480.0  3567.0  3480.0  3567.0     True
 2 2021-12-03 10:40:00-05:00  3480.0  3480.0  3393.0  3393.0    False,
 'GOOG':                        date    open    high     low   close  uptrend
 0 2021-11-29 09:30:00-05:00  2820.0  2880.0  2820.0  2880.0     True
 1 2021-12-07 10:10:00-05:00  2880.0  2940.0  2880.0  2940.0     True
 2 2021-12-20 09:30:00-05:00  2880.0  2880.0  2820.0  2820.0    False
 3 2021-12-22 11:55:00-05:00  2880.0  2940.0  2880.0  2940.0     True,
 'MSFT':                         date   open   high    low  close  uptrend
 0  2021-11-29 09:30:00-05:00  324.0  330.0  324.0  330.0     True
 1  2021-11-29 09:35:00-05:00  330.0  336.0  330.0  336.0     True
 2  2021-12-03 10:40:00-05:00  330.0  330.0  324.0  324.0    False
 3  2021-12-10 09:30:00-05:00  330.0  336.0  330.0  336.0     True
 4  2021-12-10 10:25:00-05:00  336.0  342.0  336.0  342.0     True
 5  2021-12-14 10:00:00-05:00  336.0  336.0  330.0  330.0    False
 6  2021-12-16 14:40:00-05:00  330.0  330.0  324.0  324.0    False
 7  2021-12-17 10:20:00-05:00  324.0  324.0  318.0  318.0    False
 8  2021-12-22 10:40:00-05:00  324.0  330.0  324.0  330.0     True
 9  2021-12-23 10:10:00-05:00  330.0  336.0  330.0  336.0     True
 10 2021-12-27 15:40:00-05:00  336.0  342.0  336.0  342.0     True}

# talib

In [21]:
talib.get_function_groups() #get a list of talib functions by group 

tickers = ["MSFT","AAPL","FB","AMZN","INTC", "CSCO","VZ","IBM","QCOM","LYFT"]

# Extract OHLCV data for the tickers
ohlc_tech = {} # directory with ohlc value for each stock            
ts = TimeSeries(key=api_key,output_format='pandas', indexing_type='date')

attempt = 0 # initializing passthrough variable
drop = [] # initializing list to store tickers whose close price was successfully extracted
while len(tickers) != 0 and attempt <=100:
    tickers = [j for j in tickers if j not in drop]
    for i in range(len(tickers)):
        try:
            ohlc_tech[tickers[i]] = ts.get_daily(symbol=tickers[i], outputsize='full')[0]
            ohlc_tech[tickers[i]].columns = ["Open","High","Low","Adj Close","Volume"]
            drop.append(tickers[i])      
        except:
            print(tickers[i]," :failed to fetch data...retrying")
            continue
    attempt+=1

 
tickers = ohlc_tech.keys() # redefine tickers variable after removing any tickers with corrupted data
ohlc_dict = copy.deepcopy(ohlc_tech) #create a copy of extracted data


# Apply talib functions on each dataframe - refer documentation at https://mrjbq7.github.io/ta-lib/doc_index.html
for ticker in tickers:
    # Calculate momentum indicators (e.g. MACD, ADX, RSI etc.) using talib
    ohlc_dict[ticker]["ADX"] = talib.ADX(ohlc_dict[ticker]["High"],
                                        ohlc_dict[ticker]["Low"],
                                        ohlc_dict[ticker]["Adj Close"],
                                        timeperiod=14)
    # Identify chart patterns (e.g. two crows, three crows, three inside, engulging pattern etc.)
    ohlc_dict[ticker]["3I"] = talib.CDL3WHITESOLDIERS(ohlc_dict[ticker]["Open"],
                                                 ohlc_dict[ticker]["High"],
                                                 ohlc_dict[ticker]["Low"],
                                                 ohlc_dict[ticker]["Adj Close"])
    
    # Statistical functions (e.g. beta, correlation etc.)
    ohlc_dict[ticker]["Beta"] = talib.BETA(ohlc_dict[ticker]["High"],
                                         ohlc_dict[ticker]["Low"],
                                         timeperiod=14)

ohlcv_dict

CSCO  :failed to fetch data...retrying
VZ  :failed to fetch data...retrying
IBM  :failed to fetch data...retrying
QCOM  :failed to fetch data...retrying
LYFT  :failed to fetch data...retrying
CSCO  :failed to fetch data...retrying
VZ  :failed to fetch data...retrying
IBM  :failed to fetch data...retrying
QCOM  :failed to fetch data...retrying
LYFT  :failed to fetch data...retrying
CSCO  :failed to fetch data...retrying
VZ  :failed to fetch data...retrying
IBM  :failed to fetch data...retrying
QCOM  :failed to fetch data...retrying

NameError: name 'ohlcv_dict' is not defined